---
import Layout from '../layouts/Layout.astro'
import Header from '@/component/Header.astro'
---

<Layout title="FAQ" description="FAQ">
  <main class="bg-black min-h-screen overflow-hidden pb-10">
    <Header />
    <div class="max-w-6xl mx-auto py-8 px-6">
      <h1 class="text-4xl md:text-5xl lg:text-4xl leading-tight text-light-gray tracking-wide font-hacked mb-4">
        Frequently Asked Questions
      </h1>
      <h2 class="text-2xl md:text-3xl lg:text-2xl leading-tight text-light-gray tracking-wide font-hacked mb-4">
        What you need to know
      </h2>
      <p class="text-lg md:text-xl lg:text-lg leading-tight text-light-gray tracking-wide font-abeezee mb-4">
        📍 Start at a secret downtown location. <br />
        📱 Follow the clues and ghost signals via your phone <br />
        👻 Engage phantoms and uncover haunted stories at real locations <br />
        🔀 Make choices on the journey that change your ending <br />
        🏆 Compete against other teams in your city <br />
        This is a limited ticket paranormal experience suitable for teams of up to 6 players. <br />
        Your secret starting location will be revealed in a pre-game briefing prior to your event. <br />
        Start any time between 12pm to 7pm on the day of the event! <br />
        The experience unfolds via our custom built app. <br />
        Dress to impress, whether it's gothic glam or paranormal investigator chic. The best dressed crews win prizes! <br
        />
        Feel free to bring your furry friends, dogs are extremely welcome to take part. <br />
      </p>
      <h2 class="text-2xl md:text-3xl lg:text-2xl leading-tight text-light-gray tracking-wide font-hacked mb-4">
        Team Info
      </h2>
      <p class="text-lg md:text-xl lg:text-lg leading-tight text-light-gray tracking-wide font-abeezee mb-4">
        A team ticket covers up to 6 players (as low as $5/person), for a 45-75 min haunted mission, making this one of
        the most affordable supernatural adventures out there.
        <br />
        📲 You will get a shareable team link in the pre-event email so every team member can play from their own device.
        <br />
        ⏰ Go at your own pace... <br />
        🔁 Replay post-event anytime to explore new choices, new hauntings, and try your hand at a few alternate endings.
        <br />
        📍We recommend this to teams aged 13+ due to length of experience. <br />
        Looking for events perfect for ages 8-12? Sign up for our newsletter at the bottom of the page!
      </p>
      <h2 class="text-2xl md:text-3xl lg:text-2xl leading-tight text-light-gray tracking-wide font-hacked mb-4">
        Prizes
      </h2>
      <p class="text-lg md:text-xl lg:text-lg leading-tight text-light-gray tracking-wide font-abeezee mb-4">
        We LOVE when teams dress up and bring their ghost-hunting alter-egos to life. Share photos using
        #StoryCityFrightnight to enter:
        <br />
        🏆 Best Dressed Team <br />
        ✨ Best Dressed Individual <br />
        ⚡ Best Day of Ghost Story TikTok <br />
        📝 Best Team Name <br />
        📸 Best Photo Moment <br />
        🐾 Best Themed Pet <br />
        Winners receive cash prizes (up to $500 depending on the category), exclusive enamel pins, creator-signed art, and
        more, plus a feature on our socials. <br />
        You’ll be battling events in other cities for the top spots so bring your A-game and city pride!
      </p>
      <h2 class="text-2xl md:text-3xl lg:text-2xl leading-tight text-light-gray tracking-wide font-hacked mb-4">
        About Story City
      </h2>
      <p class="text-lg md:text-xl lg:text-lg leading-tight text-light-gray tracking-wide font-abeezee mb-4">
        Story City is a small, independent, 10-person creative-tech studio on a mission:
        <br />
        To empower people to share and step into the world's stories.
        <br />
        Our no-code platform has helped 200+ creators turn real streets into playable storyworlds - stories you can step inside,
        explore, and change through your choices.
        <br />
        We have partnered with festivals, museums, cities (eg. City of Atlanta, Calgary, Melbourne UNESCO City), non-profits
        (eg. Human Rights Foundation), and creators around the world. <br />
        By purchasing a ticket, you help bring more independently created stories to communities like yours. Thank you for
        co-creating with us to make the world more fun and connected.
        <br />
        Big shout out to the creators of this experience: Domini Gee (Writer), Emily Craven (Writer/Producer), Matt Mihilewicz
        (Editor/VO Director), Victoria Ilnystka (Artist), Lauren Hughes (Actor), Toast + Jam/Jeremy Volts/Aaron Jensen (Music
        & sound).
      </p>
      <h2 class="text-2xl md:text-3xl lg:text-2xl leading-tight text-light-gray tracking-wide font-hacked mb-4">
        Ticket Info
      </h2>
      <p class="text-lg md:text-xl lg:text-lg leading-tight text-light-gray tracking-wide font-abeezee mb-4">
        🎟 Team Ticket (up to 6 players): $30 → $24 with newsletter signup <br />
        ⏰ Start anytime between 12pm-6pm <br />
        📍 Playtime: 45-75 minutes <br />
        👟 Walking: ~1-1.5 miles <br />
        🎧 Headphones or Bluetooth speaker optional (but recommended for spooky immersion!) <br />
        📲 App download link arrives in your pre-game email <br />
        🔁 Unlimited replays post-event to unlock every haunting and every ending. <br />
        ** All tickets are digitally delivered.*
      </p>
      <h2 class="text-2xl md:text-3xl lg:text-2xl leading-tight text-light-gray tracking-wide font-hacked mb-4">
        Safety
      </h2>
      <p class="text-lg md:text-xl lg:text-lg leading-tight text-light-gray tracking-wide font-abeezee mb-4">
        Our adventures are:
        <br />
        👪🏼 Team-led - your day, your pace, your outfits. <br />
        🌲Outdoors and naturally socially distanced (if you need!) <br />
        ⏰ Flexible - pause anytime, continue at your pace. <br />
        🦽 Designed to be stroller and wheelchair friendly where possible. <br />
        📍 If your pre-event route email shows the terrain will not meet your needs, we will happily refund you. Your location
        is only tracked while using the app to unlock experiences. Your privacy matters to us.
      </p>
    </div>
  </main>
</Layout>
