---
import Layout from '../layouts/Layout.astro'
import Content from '@component/Content.astro'
import Header from '@component/Header.astro'
import CTA from '@component/CTA.astro'
---

<Layout title="Keystatic & Astro's Content Collections">
  <main class="bg-black min-h-screen pb-14">
    <Header />
    <CTA />
    <Content />
  </main>
</Layout>
