---
import { Image } from 'astro:assets'
import personImg from './person.png'
import Quote from '@component/Quote.astro'

export interface Props {
  cityName?: string
}

const { cityName } = Astro.props
const locationTime = cityName === 'Phoenix' ? '4PM to 9PM' : '12PM to 7PM'
---

<section class="w-full max-w-6xl mx-auto bg-black text-dark-gray font-compressed relative py-4">
  <div class="w-full lg:w-1/2 z-10">
    <div class="px-11 mt-5">
      <h3 class="text-2xl leading-tight tracking-wide font-medium mb-6">
        Join 30,000+ Story City Adventurers Worldwide
      </h3>
      <p class="text-lg lg:text-2xl leading-tight tracking-wide font-normal font-abeezee mb-3">
        Brave a spooky ghost hunt through the streets of {cityName} in this interactive, suspense-filled multi-team event.
        Start anytime from {locationTime}, follow eerie clues, and make choices that change your route and ending. Dress
        up, snap paranormal photos, and compete for prizes. Limited tickets available before they vanish into the night.
      </p>
    </div>
    <div class="blur-bg"></div>
  </div>
  <div class="min-h-[500px] flex items-start">
    <Quote />
  </div>
  <Image src={personImg} width={412} height={618} class="pointer-events-none person-img" alt="Person with flashlight" />
</section>

<style>
  .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #33afc1 0%, #b4f4ff 100%);
    filter: blur(113px);
    border-radius: 560px;
    opacity: 0.38;
    width: 100%;
    height: 34%;
    transform: translateX(17%);
    transform-origin: center;
    pointer-events: none;
  }

  .person-img {
    height: auto;
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
  }
  @media (min-width: 1024px) {
    .blur-bg {
      transform: translateX(48%);
      height: 50%;
    }
    .person-img {
      width: auto;
      height: 1400px;
      transform: rotateY(180deg) translateX(-20%);
    }
  }
</style>
