---
import { Image } from 'astro:assets'
import personImg from './person.webp'
import Quote from '@component/Quote.astro'

export interface Props {
  cityName?: string
  locationTime?: string
}

const { cityName, locationTime } = Astro.props
const discount = '33%'
---

<section class="w-full max-w-6xl mx-auto bg-black text-dark-gray font-compressed relative py-4">
  <div class="w-full lg:w-2/3 z-10">
    <div class="px-11 mt-5">
      <h3 class="text-2xl leading-tight tracking-wide font-medium mb-6">
        Join 30,000+ Story City Adventurers Worldwide
      </h3>
      <p class="text-lg lg:text-2xl leading-tight tracking-wide font-normal font-abeezee mb-3">
        Brave a spooky ghost hunt through the streets of {cityName} in this interactive, suspense-filled multi-team event.
      </p>
      <p class="text-lg lg:text-2xl leading-tight tracking-wide font-normal font-abeezee mb-3">
        Start anytime from {locationTime}, follow eerie clues, and make choices that change your route and ending.
      </p>
      <p class="text-lg lg:text-2xl leading-tight tracking-wide font-normal font-abeezee mb-3">
        Dress up, snap paranormal photos, and compete for prizes.
      </p>
      <p class="text-lg lg:text-2xl leading-tight tracking-wide font-normal font-abeezee mb-3">
        Limited tickets available - get {discount} off if you buy today, or have it vanish into the night!
      </p>
      <a href="#" data-faq-trigger class="text-neon underline text-lg lg:text-2xl font-abeezee tracking-wide">
        More Info
      </a>
    </div>
    <div class="blur-bg" data-reveal="fade" style="transition-delay: 400ms;"></div>
  </div>
  <div class="min-h-[500px] flex items-start">
    <Quote />
  </div>
  <Image src={personImg} width={412} height={618} class="pointer-events-none person-img" alt="Person with flashlight" />
</section>

<style>
  .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(51, 175, 193, 0.38) 0%, rgba(180, 244, 255, 0.38) 100%);
    filter: blur(113px);
    border-radius: 560px;
    width: 100%;
    height: 64%;
    transform: translateX(17%);
    transform-origin: center;
    pointer-events: none;
  }

  .person-img {
    height: auto;
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }
  @media (min-width: 1024px) {
    .blur-bg {
      transform: translateX(48%);
      height: 50%;
    }
    .person-img {
      width: auto;
      height: 800px;
      transform: translateX(-20%);
    }
  }
</style>
