<div class="text-justify lg:text-center max-w-4xl mx-auto text-white mt-6 py-12 px-6">
  <h2 class="text-3xl leading-tight text-light-gray tracking-wide font-hacked mb-3">Story City Life Promise</h2>
  <p class="text-lg lg:text-2xl leading-tight tracking-wide font-normal font-abeezee">
    Life happens. If the weather or your plans change, your Frightnight pass is 100% transferable to any friend, any
    future Story City date, or any other city experience we offer.
  </p>
</div>
